h1(style='text-align:center') Search Bins
input(type='text',style='margin-top:20px;width:100%' onkeyup='catchWords(this.value)')
#hiddiv()
input.btn.cbut.grey(type="button" value='Assign More', onclick="amore(1)", style="margin-top:200px")
input.btn.cbut.blue(type="button" value='Assign', onclick="amore(2)", style="margin-top:200px")