style.
	#uuul li{background:#f3f3f3;padding: 10px 10px 0 10px;}
.col-md-11(style='border:1px solid #e7e7e7;margin:10px 0 0 20px;padding:0')
	ul#uuul
		li(style='padding-bottom:10px')
			a(href='') Add Bins
		li(style='padding-bottom:10px')
			a(href='') Assigned Bins
		li(style='padding-bottom:10px')
			a(href='') UnAssigned Bins
		li(style='padding-bottom:10px')
			a(href='') Decompressed Bins
